extends ../layout

block list
    .row
      .col-sm-4
        img#restaurant-picture(src="/avatars/#{restaurant.avatar}")
        .recommendations
          if recommended.length > 0
            h5 Recommended Restaurants
            each one, i in recommended
              .recommended-restaurant
                img.img-circle.img-recommended(src="/avatars/#{one.avatar}")
                a.recommended-name(href='/users/#{one.auth}')=one.name
        hr
        .restaurant-conversations
          if canEdit || currentUser.accountType == 'REGULAR USER' || currentUser.accountType == 'FACEBOOK USER'
            include ./conversations-partial.jade

      .col-sm-8
        .restaurant-details
          div
            label.inlinea
              strong Restaurant Name:
            p.inlinea 
              | &nbsp #{restaurant.name}
          div
            label.inlinea
              strong Address:
            p.inlinea
              | &nbsp #{restaurant.location}
          div 
            label.inlinea
              strong Cuisines:
            p.inlinea
              | &nbsp #{restaurant.cuisine}
          div
            label.inline
              strong Average rating:
            p.inlinea
              | &nbsp #{restaurant.rating} out of 5
          div
            label.inlinea
              strong Email:
            p.inlinea
              | &nbsp #{email}
          if canEdit
            .inlinea
              a.btn.btn-success(href='/users/#{restaurant.auth}/edit' style='margin-right: 10px')
                i.glyphicon.glyphicon-pencil
                | &nbsp Edit
          if canDelete
            .inlinea
              form(action='/users/#{restaurant.auth}' method='post' enctype='application/x-www-form-urlencoded')
                input(type='hidden' value='DELETE' name='_method')
                button.btn.btn-danger.inlinea(type='submit')
                  i.glyphicon.glyphicon-trash
                  | &nbsp Remove

        .restaurant-rate
          if canRate
            hr
            h5 Do you like this place? Let others know
            br
            form.ratingg(action='/users/#{restaurant.auth}/comment', method='POST')
              p Choose rating
              fieldset.rating
                input#star5(type='radio', name='rating', value='5', required='true')
                label.full(for='star5', title='Awesome - 5 stars')
                input#star4half(type='radio', name='rating', value='4.5')
                label.half(for='star4half', title='Pretty good - 4.5 stars')
                input#star4(type='radio', name='rating', value='4')
                label.full(for='star4', title='Pretty good - 4 stars')
                input#star3half(type='radio', name='rating', value='3.5')
                label.half(for='star3half', title='Meh - 3.5 stars')
                input#star3(type='radio', name='rating', value='3')
                label.full(for='star3', title='Meh - 3 stars')
                input#star2half(type='radio', name='rating', value='2.5')
                label.half(for='star2half', title='Kinda bad - 2.5 stars')
                input#star2(type='radio', name='rating', value='2')
                label.full(for='star2', title='Kinda bad - 2 stars')
                input#star1half(type='radio', name='rating', value='1.5')
                label.half(for='star1half', title='Meh - 1.5 stars')
                input#star1(type='radio', name='rating', value='1')
                label.full(for='star1', title='Sucks big time - 1 star')
                input#starhalf(type='radio', name='rating', value='0.5')
                label.half(for='starhalf', title='Sucks big time - 0.5 stars')
              br
              input.form-control.review(type='text', name='comment', placeholder='Comment... (Optional)')
              br
              input.btn.btn-info(type='submit', value='Submit your review', style="display:inline;")
        .restaurant-ratings
          if comments.length > 0
            hr
            h5 User Feedback
            each comment, i in comments
              .rating-block
                p= comment.name + ' rated ' + comment.rating + ' stars'
                p= comment.comment