extends ../layout

block list
    img#restaurant-picture(src="/avatars/#{restaurant.avatar}")
    .display-block
      div
        label.inlinea
          strong Restaurant Name:
        p.inlinea 
          | &nbsp #{restaurant.name}
      div
        label.inlinea
          strong Address:
        p.inlinea
          | &nbsp #{restaurant.location}
      div 
        label.inlinea
          strong Cuisines:
        p.inlinea
          | &nbsp #{restaurant.cuisine}
      div
        label.inline
          strong Average rating:
        p.inlinea
          | &nbsp #{restaurant.rating} / 5
      div
        label.inlinea
          strong Email:
        p.inlinea
          | &nbsp #{email}
      if canEdit
        a.btn.btn-success(href='/users/#{restaurant.auth}/edit')
          i.glyphicon.glyphicon-pencil
          | &nbsp Edit
    .display-block
      h5 Customer feedbacks
      each comment, i in comments
        .display-block
          p= 'From ' + i
          p= comment