extends ../layout

block list
  .row
    .col-sm-4.text-center
      img.img-rounded.img-responsive#user-picture(src="/avatars/#{user.avatar}")
      h3.text-center My Profile
    .col-sm-8
      .col-sm-6
        .user-details
        div
          label.inlinea
            strong Display Name: 
          p.inlinea
            | &nbsp #{user.name}
        div 
          label.inlinea
            strong Age:
          p.inlinea
            | &nbsp #{user.age}
        div
          label.inlinea
            strong Email:
          p.inlinea
            | &nbsp #{email}
        div
          label.inlinea
            strong Favorite Cuisines:
          p.inlinea
            | &nbsp #{user.preferredCuisine}
        div 
          label.inlinea
            strong Account Type:
          p.inlinea
            | &nbsp #{accountType}
        if canEdit
          .inlinea
            a.btn.btn-success(href='/users/#{user.auth}/edit' style='margin-right: 10px')
              i.glyphicon.glyphicon-pencil
              | &nbsp Edit
        if canDelete
          .inlinea
            form(action='/users/#{user.auth}' method='post' enctype='application/x-www-form-urlencoded')
              input(type='hidden' value='DELETE' name='_method')
              button.btn.btn-danger(type='submit')
                i.glyphicon.glyphicon-trash
                | &nbsp Remove
      .col-sm-6
        .user-conversations
          .restaurant-conversations
          if canEdit
            include ./conversations-partial.jade